<% content_for :headercontents do %>
  <div id="gnav">
    <nav>
      <%= link_to 'Home', '/' %>
    </nav>
  </div>
  <div id="topSection" class="row">
  </div>
<% end %>

<% content_for :main do %>
  <div id="secondSection">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2 class="Heading">About us</h2>
      </div>
    </div>
    <div id="container">
      <div class="row">
          <section class ="item item-m item-event">
             <div class="Hover">
                <%= image_tag 'about_001.png', :alt => "メインディッシュ", :class => "image" %>
                <div class="category">
                  団紹介
                </div>
                <p class="description">
                私たち混声合唱団はいつでも団員を募集しています！<br>東北大以外の学生ももちろん大歓迎です！定演では常任指揮者として佐々木正利先生をお招きしています。<br>
                邦人曲や宗教曲に挑戦できますよ！
                </p>
             </div>
          </section>
      </div>
      <div class="row">
          <section class ="item item-m item-event">
             <div class="Hover">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d979.5325734711727!2d140.85294758116962!3d38.26076354450796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7b1ee08ad8dee073!2z5bed5YaF44Ob44O844Or!5e0!3m2!1sja!2sjp!4v1491577403838" width=100% height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                <div class="category">
                  活動詳細
                </div>
                <p class="description">
                <span class="subHeading">活動日時</span><br>
                月、水、土曜日の週3回が正規の練習です。さまざまな演奏会に向けて、団全体で活動しています。<br>
                月曜・水曜 17:00～19:30<br>
                土曜      13:30～17:00<br>
                <span class="subHeading">活動場所</span><br>
                川内北キャンパスに新しくできた新課外活動施設、川内ホールで活動しています！<br>
                新入生は講義棟から近いので通いやすいですよ！<br>
                <span class="subHeading">部費</span><br>
                毎月1200円です。春と夏にある合宿費や飲み会代は参加者だけ別途で集金があります。<br>
                団の一員として必ず買うものは団パーカー、定期演奏会衣装です。<br>
                <span class="subHeading">その他</span><br>
                2015年度、東北大学や地域社会に優れた貢献をした学友会団体として東北大学から認められ、<br>
               「海野賞」を受賞しました。<br>
                </p>
             </div>
          </section>
      </div>
      <div class="row">
          <section class ="item item-m item-qa">
             <div class="Hover">
                <%= image_tag 'about_003.png', :alt => "メインディッシュ", :class => "image" %>
                <div class="category">
                  混声Q＆A
                </div>
                <p class="description">
                <span class="subHeading">Q.1 団はどのような雰囲気ですか</span><br>
                練習の後にみんなで食事に行ったり、 合宿の楽しくおしゃべりしたり家族のように仲良しです！<br>
                一方で、音楽に対する姿勢は至ってまじめです。定期演奏会は1年間の汗と涙が結晶となる瞬間です！<br>
                <span class="subHeading">Q.2 飲み会が心配です</span><br>
                演奏会などイベントの後に飲み会が行われることがありますが、もちろん弱い人に強要するようなことはありませんし、心配はありません！<br>
                また、わたしたちの団では飲み会での未成年飲酒禁止を厳守しています。<br>
                <span class="subHeading">Q.3 どんな曲を歌うのですか</span><br>
                邦楽、洋楽曲を問わず幅広いジャンルの曲を歌っています。団の練習の大部分を占める定期演奏会の曲は例年では邦人組曲や宗教曲を取り上げています。<br>
                特に宗教曲には練習時間を多くかけています。<!-- 過去の定期演奏会で演奏した曲目はこちら。 --><br>
                <span class="subHeading">Q.4 合唱や音楽の経験がなくても大丈夫ですか</span><br>
                もちろんです！先輩が発声の基礎から丁寧に教えてくれますし、各パートで音を覚える時間もあるので音楽の経験がまったくない方でも大丈夫です。<br>
                実際毎年3～4割の先輩は大学から合唱を始めていますが、皆楽しく活動を送っています(*’ω’*)<br>
                <span class="subHeading">Q.5 コンクールなどの実績はありますか</span><br>
                定期演奏会を活動の中心に据えているので、コンクールなどには基本的に参加していません。 <br>
                ただ、有志でチームを組んで2月に行われる宮城県アンサンブルコンテストによく参加しています。<br>
                <span class="subHeading">Q.6 他団体との交流はありますか？</span><br>
                常任指揮者として岩手大学より佐々木正利先生をお迎えしているため、岩手大学合唱団とはお互いの定期演奏会を聴きに行っています。<br>
                また「在仙」と呼ばれる、仙台市内の５つの大学合唱団との交流も活発です。<br>
                <span class="subHeading">Q.7 兼部やバイトはできますか？</span><br>
                兼部もバイトも可能ですが、兼部している人は少なめです。<br>
                聖歌隊など合唱部ならではのバイトをしている先輩もいるので、バイトしたいときは聞いてみるといいかもですね。<br>
                </p>
             </div>
          </section>
      </div>
  </div>
<% end %>