<% content_for :headercontents do %>
  <div id="gnav">
  </div>
  <div id="topSection" class="row">
  </div>
<% end %>

<% content_for :main do %>
  <div id="secondSection">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2 class="Heading">About us</h2>
      </div>
    </div>
    <div id="container">
      <div class="row">
          <section class ="item item-m item-event">
             <div class="Hover">
                <%= image_tag 'about_001.png', :alt => "メインディッシュ", :class => "image" %>
                <div class="category">
                  団紹介
                </div>
                <p class="description">
                私たち混声合唱団はいつでも団員を募集しています！<br>東北大以外の学生ももちろん大歓迎です！定演では常任指揮者として佐々木正利先生をお招きしています。<br>
                邦人曲や宗教曲に挑戦できますよ！
                </p>
             </div>
          </section>
      </div>
      <div class="row">
          <section class ="item item-m item-event">
             <div class="Hover">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d979.5325734711727!2d140.85294758116962!3d38.26076354450796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7b1ee08ad8dee073!2z5bed5YaF44Ob44O844Or!5e0!3m2!1sja!2sjp!4v1491577403838" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                <div class="category">
                  活動日時/活動場所
                </div>
                <p class="description">
                <span class="subHeading">活動日時</span><br>
                月、水、土曜日の週3回が正規の練習です。さまざまな演奏会に向けて、団全体で活動しています。<br>
                月曜・水曜 17:00～19:30<br>
                土曜      13:30～17:00<br>
                <span class="subHeading">活動場所</span><br>
                川内北キャンパスに新しくできた新課外活動施設、川内ホールで活動しています！<br>
                新入生は講義棟から近いので通いやすいですよ！<br>
                </p>
             </div>
          </section>
      </div>
  </div>
<% end %>