<% content_for :headercontents do %>
  <div id="gnav">
  </div>
  <div id="topSection" class="row">
  </div>
<% end %>

<% content_for :main do %>
  <div id="secondSection">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2 class="Heading">About us</h2>
      </div>
    </div>
    <div id="container">
      <div class="row">
          <section class ="item item-m item-event">
             <div class="Hover">
                <%= image_tag 'about_001.png', :alt => "メインディッシュ", :class => "image" %>
                <div class="category">
                  団紹介
                </div>
                <p class="description">
                私たち混声合唱団はいつでも団員を募集しています！<br>東北大以外の学生ももちろん大歓迎です！定演では常任指揮者として佐々木正利先生をお招きしています。<br>
                邦人曲や宗教曲に挑戦できますよ！
                </p>
             </div>
          </section>
      </div>
    </div>
  </div>
<% end %>
