<% content_for :headercontents do %>
  <div id="gnav">
    <nav>
      <%= link_to 'Home', '/' %>
    </nav>
  </div>
  <div id="topSection" class="row">
  </div>
<% end %>

<% content_for :main do %>
  <div id="secondSection">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="Heading">Daily Activity</h2>
      </div>
    </div>
    <div id="container" class="daily" name="daily">
        <div class="row">
        <section class ="item item-m item-event">
              <p class="description">
                <span class="subHeading">1.体操・ヴォイストレーニング</span><br>
                合唱部は「体育系文化部」といわれるほど、体をよく使います。 いい声で歌うには、体をしっかりほぐすことから。<br>
                指揮者が前に立ち、各種体操→息流しといった流れで進めます。場合によってはここで全体発声を行うこともあります。<br>
                <span class="subHeading">2.パート発声・パート練習</span><br>
                混声合唱では、ソプラノ・アルト・テナー・ベースの４パートが声を合わせて歌います。そのために、まずはパートごとに分かれて練習を行います。<br>
                まず、パートごとに発声を行ったり、前述のヴォイストレーニングで足りなかったところを補ったりします。その後、曲の練習を行います。<br>
                各パートのまとめ役がパートリーダー（通称：パトリ）です。 パート発声・パート練習はパトリの指示で進めます。<br>
                <span class="subHeading">3.アンサンブル</span><br>
                パート練習が終わると、いよいよ全員で声を合わせます。 私たちはこの時間をアンサンブルと呼んでいます。<br>
                限られた時間で指揮者が的確に指示を出し、音楽の完成度を高めていきます。<br>
                <span class="subHeading">4.パートミーティング</span><br>
                各パートに分かれて一人一人の練習や曲に対する意見を語っていきます。 <br>
                誰もが真剣に遠慮無く意見し、団員全員でより良い音楽づくりを目指していきます。<br>
                <span class="subHeading">5.連絡</span><br>
                アンサンブルで練習はひとまず終了です。 ここで副委員長が前に出て、諸連絡の時間になります。 各役職やそのほか団員からの連絡の後、次回の掃除のチームを発表します。<br>
                また、混声には、団員の誕生日をみんなでお祝いする習慣があります。 誕生日を迎えた団員には、ここでパート仲間から心のこもったプレゼントが渡され、 全員でハッピーバースデーを合唱します。<br>
              </p>
        </section>
      </div>
    </div>
  </div>
<% end %>
