<div id="container">
  <div class="row">
    <section class ="item item-m item-information movie">
       <div class="Hover">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/pmD4bKCSPgw" frameborder="0" allowfullscreen></iframe>
          <div class="category">
            新歓情報
          </div>
          <p class="description">
            今年も新歓PV完成しました！1年間の活動を様子をスライドショーで、私たちの演奏に乗せて紹介しています。ぜひ見てください！<br>
            <a>団紹介ページはこちらから</a>
          </p>
       </div>
    </section>
  </div>
</div>
