 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

html{
  font-size: 62.5%;
}

body{
  background-color:#F5F5F5;
  color:#333;
  font-size:1.2rem;
}

p{
  color: #2c3e50;
}

.daily p{
  font-size:1.4rem;
  line-height: 1.7rem;
}
 p .subHeading{
  font-size:1.8rem;
  line-height: 5.0rem;
  padding-bottom: 5px;
  border-bottom: rgba(0,203,50,0.8) 2px dotted;
}

#gnav a.open{
    position: fixed;
    right: 10px;
    top: 10px;
    cursor: pointer;
    z-index: 100;
}
#modal-content{
  font-family: 'Raleway', Arial, sans-serif;
  padding: 20px;
}

#closebt-container {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

#gnav ul{
  position: absolute;
  top: 50%;
  left: 50%;
  list-style-type:none;
  display: inline-block;
  width: 300px;
  margin-left: -150px;
  margin-top: -150px;
  text-align: center;
}

#gnav ul a:hover{
  text-decoration: none;
}


footer{
  height: 500px;
  width: 100vw;
  background-color: #2c3e50;
  padding: 30px;
}

#footer-content h2{
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 200;
  color: #fff;
  margin-bottom: 350px;
}

footer p{
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 200;
  color: #fff;
}

#footer-content p{
  line-height: 1.5rem;
}

#logo{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -140px;
  margin-top: -79px;
}
#copyright{
}

@media screen and (max-width: 539px){
  #gnav ul li{
    height: 1.5rem;
    margin-bottom: 2.0rem;
  }
  #gnav ul a{
    color: #fff;
    font-size: 1.5rem;
  }
  footer h2{
    font-size: 3.0rem;
  }
}
@media screen and (min-width: 540px){
  #gnav ul li{
    height: 2.5rem;
    margin-bottom: 4.0rem;
  }
 #gnav ul a{
    color: #fff;
    font-size: 2.5rem;
  }
  footer h2{
    font-size: 4.5rem;
  }
}