// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@charset "UTF-8";


header{
  background-color: #FFF200;
  height: 100vh;
}

#container{
	margin: 0 auto;
}

*, *::before, *::after {
	box-sizing:border-box;
}
section.Hover:link, section.Hover:visited, section.Hover:hover, section.Hover:active {
	color:#C8C8C8;
	text-decoration: none;
}

.item{
	margin-bottom: 4px;
	padding: 8px;
	border-bottom: 3px solid;
	border-radius: 1px;
	background-color: #F5F5F5;

		.image{
			display:block;
			width:100%;
		}

		.category{
			margin:15px 9px 10px;
			padding-left: 10px;
			color:#aaa;
			letter-spacing: 1px;
			font-family: "Trebuchet MS","Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
			font-weight: bold;
			color: #34495e;

				&::before{
					content:'';
					display: inline-block;
					width:19px;
					height: 19px;
					margin-right: 5px;
					border:2px solid;
					border-radius:50%;
					vertical-align:-5px;
				}
		}

		.description{
			font-color: #7f8c8d;
			margin:10px;
			padding-left: 10px;
			line-height:1.5;
		}

		.Hover{
			&:hover{
				box-shadow: 0 0 6px -1px rgba(0,0,0,0.3);
				opacity:0.8;
			}
		}
}

.item-information,
.item-information .category::before{
	border-color: #FFC0CB;
}

.item-event,
.item-event .category::before{
	border-color: #76C047;
}

.item-annual,
.item-annual .category::before{
	border-color: #FFF100;
}

.item-qa,
.item-qa .category::before{
	border-color: #C1EFFF;
}

@media screen and (min-width: 540px) {
	//#container{
		//margin: 0 auto;
	//}

	.item{
		width:300px;
		.image{
		}
	}
	.item-m{
		width:604px;
	}
}

@media screen and (max-width: 539px) {
	.movie,
	#calender{
		display:none;
	}
}
