<!DOCTYPE html>
<html>
<head>
  <title>MixedCho2017</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>

  <div class="menu-btn" id="js__btn">
      <span data-txt-menu="MENU" data-txt-close="CLOSE"></span>
  </div>
  <nav class="menu" id="js__nav">
      <ul>
          <li><a href="#">団紹介</a></li>
          <li><a href="#">新歓イベント</a></li>
          <li><a href="#">年間イベント</a></li>
          <li><a href="#">練習内容</a></li>
          <li><a href="#">混声Q&A</a></li>
      </ul>
  </nav>
</body>
</html>
